<ion-header>
	<ion-toolbar>
		<ion-title style="padding: 0 !important;">
			<div class="title_inner d-flex" style="justify-content: space-between;">
				<div class="location" (click)="set_location()"> 
					<h2 class="d-flex">
						<!--<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>-->
						<img style=" width: 30px; display: flex; height: 30px; margin: auto;" src="assets/images/icono_ubicacion_blanco.png">
						Wallington
					</h2>
				</div>

				<div>
					<ion-title style="font-size: 18px; position: relative; left: -30px;">{{'hospitals' | translate}}</ion-title>
				</div>
				<div>
					<span class="end" (click)="map()">
						<!--<ion-icon class="zmdi zmdi-map ion-text-end"></ion-icon>-->
						<img style=" width: 35px; display: flex; height: 25px; padding-right: 10px; margin: auto;" src="assets/images/icono_ubicacion_mapa.png">
					</span>
				</div>
			</div>
		</ion-title>
	</ion-toolbar>

	<div class="banner">
		<ion-slides pager="true" loop="true" >
			<ion-slide *ngFor="let item of imgSlider">
				<div class="img_box center_img">
					<img [src]="item.imagen" class="crop_img">
				</div>
			</ion-slide>
		</ion-slides>

		<div class="search_box d-flex" style="width: 90%; justify-content: center; margin-bottom: 40px;" (click)="search()">
			<!--<ion-icon name="search-outline" class="ion-text-start"></ion-icon>-->
			<img class="ion-text-start" style="display: block; width: 40px; height: 25px; padding-right: 10px;" src="assets/images/lupa.png">
			<h2 class="text-center">{{'search_hospital_clinics_helth_center' | translate}}</h2>
		</div>
	</div>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<ion-item *ngFor="let hospital of hospitales">
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2 style="font-weight: 600;">{{hospital.nombre}}</h2>
						<h3 style="color: #1f1e1e;">{{hospital.especialidad}}</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div> 

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img" *ngFor="let imghospital of imgHospitales">
						<img [src]="imghospital.imagen" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span style="color: #1f1e1e;" class="address" (click)="hospital_info()">{{hospital.direccion}}</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
