<ion-header>
	<ion-toolbar>
		<ion-title>
			<div class="title_inner d-flex">
				<div class="location" (click)="set_location()">
					<h2 class="d-flex">
						<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
						Wallington
					</h2>
				</div>

				<h3 class="page_title">{{'hospitals' | translate}}</h3>

				<span class="end" (click)="map()">
					<ion-icon class="zmdi zmdi-map ion-text-end"></ion-icon>
				</span>
			</div>
		</ion-title>
	</ion-toolbar>

	<div class="banner">
		<ion-slides pager="true" loop="true">
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/Slider2.png" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/Slider1.png" class="crop_img">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="img_box center_img">
					<img src="assets/images/Slider.png" class="crop_img">
				</div>
			</ion-slide>

		</ion-slides>

		<div class="search_box d-flex" (click)="search()">
			<ion-icon name="search-outline" class="ion-text-start"></ion-icon>
			<h2>{{'search_hospital_clinics_helth_center' | translate}}</h2>
		</div>
	</div>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Apple Hospital</h2>
						<h3>General Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Silver Leaf Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>



		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>City Shine Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Apple Hospital</h2>
						<h3>General Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Silver Leaf Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>



		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>City Shine Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Apple Hospital</h2>
						<h3>General Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Silver Leaf Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>



		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>City Shine Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Apple Hospital</h2>
						<h3>General Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Silver Leaf Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>



		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>City Shine Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Apple Hospital</h2>
						<h3>General Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Silver Leaf Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>



		<ion-item>
			<div class="item_inner">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>City Shine Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'call_now' | translate}}</h4>
				</div>

				<div class="item_content" (click)="hospital_info()">
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h4.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h1.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img"> 
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h5.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h2.png" class="crop_img">
					</div>
					<div class="img_box center_img">
						<img src="assets/images/h3.png" class="crop_img">
					</div>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
