<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button style="position: absolute !important;"></ion-menu-button>
		</ion-buttons>
		<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'wallet' | translate}}</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar> 
	<div class="banner">
		<h2>{{'available_balance' | translate}}</h2>
		<h1 *ngFor="let item of balance">{{item.balance}}</h1> 
	</div>
</ion-header>

<ion-content class="bg_color" fullscreen>
	 	<ion-button size="large" shape="full" class="btn" (click)="send_to_bank()">{{'send_to_bank' | translate}}</ion-button>
	
	<ion-list lines="none">
		<h2>{{'recent' | translate}}</h2>
		<ion-item *ngFor="let item of pedidos">
			<ion-row >
				<ion-col size="6">
					<h3><strong>{{item.nombre}}</strong></h3>
					<p>{{item.cantidad}} items | {{item.fecha}}</p>
				</ion-col>
				<ion-col size="3" class="ion-text-end">
					<h3>{{item.costo}}</h3>
					<p>{{item.estado}}</p>
				</ion-col>

				<ion-col size="3" class="ion-text-end">
					<h3>{{item.precio}}</h3>
					<p>{{ item.pago | translate}}</p>
				</ion-col>
			</ion-row>
		</ion-item>
	</ion-list>
</ion-content>
