<ion-header>
	<ion-toolbar>
		<ion-title>{{'my_appointments' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<h2>{{'upcoming_appointments' | translate}}</h2>

		<ion-item (click)="appointment_detail()" *ngFor="let cita of getCitas">
			<div class="item_inner d-flex">
				<div class="date_time">
					<h3>{{cita.dia}}</h3>
					<h4>{{cita.fecha}}</h4>
					<h3>{{cita.hora}}</h3>
				</div>
				<div class="appointment_details">
					<div class="doctor_details d-flex">
						<div class="img_box center_img">
							<img [src]="cita.imagenPerfil" class="crop_img">
						</div>
						<div class="text_box">
							<h2 class="d-flex">
								<span class="name">{{cita.nombreDoctor}}</span>
								<ion-icon class="zmdi zmdi-more-vert ion-text-end end"></ion-icon>
							</h2>
							<h3>{{cita.especialidadDoctor}}</h3>
						</div>
					</div>
					<p>{{cita.hospital}}, {{cita.direccionCita}}</p>
				</div>
			</div>
		</ion-item>

		<h2>{{'past_appointments' | translate}}</h2>

		<ion-item (click)="appointment_detail()" *ngFor="let cita of getCitas">
			<div class="item_inner d-flex">
				<div class="date_time">
					<h3>{{cita.dia}}</h3>
					<h4>{{cita.fecha}}</h4>
					<h3>{{cita.hora}}</h3>
				</div>
				<div class="appointment_details">
					<div class="doctor_details d-flex">
						<div class="img_box center_img">
							<img [src]="cita.imagenPerfil" class="crop_img">
						</div>
						<div class="text_box">
							<h2 class="d-flex">
								<span class="name">{{cita.nombreDoctor}}</span>
								<ion-icon class="zmdi zmdi-more-vert ion-text-end end"></ion-icon>
							</h2>
							<h3>{{cita.especialidadDoctor}}</h3>
						</div>
					</div>
					<p>{{cita.direccionCita}}</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
