<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'phone_verification' | translate}}</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar> 
</ion-header> 

<ion-content class="bg_color">
	<div class="form">
		<p class="ion-text-center">{{'we_send_otp_verification_code' | translate}} <br>{{'on_your_given_number' | translate}}</p>

		<ion-list lines="none">
			<ion-item lines="none"> 
				<ion-input class="ion-text-center" type="text"  placeholder="{{'enter_4_digit_otp' | translate}}"></ion-input>
			</ion-item>
		 
			<ion-button size="large" shape="block" class="btn" (click)="submit()">{{'submit' | translate}}</ion-button>
		</ion-list>
		<h4 class="d-flex">0:22 min left <span class="end">{{'resend' | translate}}</span></h4>
	</div>
</ion-content>
