/*@font-face {
	font-family: 'Google Sans';
	src: url('../assets/font/GoogleSans-Italic.woff2') format('woff2'),
		url('../assets/font/GoogleSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Google Sans';
	src: url('../assets/font/GoogleSans-Regular.woff2') format('woff2'),
		url('../assets/font/GoogleSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Google Sans';
	src: url('../assets/font/GoogleSans-BoldItalic.woff2') format('woff2'),
		url('../assets/font/GoogleSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Google Sans';
	src: url('../assets/font/GoogleSans-Bold.woff2') format('woff2'),
		url('../assets/font/GoogleSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Google Sans';
	src: url('../assets/font/GoogleSans-MediumItalic.woff2') format('woff2'),
		url('../assets/font/GoogleSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Google Sans';
	src: url('../assets/font/GoogleSans-Medium.woff2') format('woff2'),
		url('../assets/font/GoogleSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}



*,
body,
html,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
li {
	--ion-font-family: 'Google Sans';
	font-family: 'Google Sans';
	//letter-spacing: .05rem;
}*/



@font-face {
	font-family: 'Plume DaMa';
	src: url('../assets/font/Plume_DaMa_Bold.ttf'); 
	font-weight: normal; 
	font-style: normal;
}

@font-face {
	font-family: 'Plume DaMa';
	src: url('../assets/font/Plume_DaMa_Regular.ttf'); 
	font-weight: bold; 
	font-style: normal;
}

*,
body,
html,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
li {
	--ion-font-family: 'Plume DaMa';
	font-family: 'Plume DaMa';
	//letter-spacing: .05rem;
}


 .zmdi {
 	font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
 }


 ion-menu {

 	//	--background: rgba(0, 0, 0, 0.74);
 	//	 background: rgba(0, 0, 0, 0.52);

 	ion-header {
 		.close_button {
 			ion-icon {
 				color: var(--primary);
 				font-size: 1.5rem;
 				padding: 30px 20px 20px 20px;

 			}
 		}

 		.banner {
 			padding: 0px 20px 20px 20px;

 			.img_box {
 				min-width: 70px;
 				height: 70px;
 				border-radius: 50%;
 				margin-right: 20px;
 			}

 			.text_box {
 				width: 100%;

 				h2 {
 					margin: 0;
 					font-size: 1.1rem;
 					font-weight: 400;
 					color: var(--text-black);
 					padding-bottom: 5px;
 				}

 				p {
 					color: var(--text-light2);
 					margin: 0;
 					font-weight: 400;
 					font-size: .9rem;
 					letter-spacing: .5px;
 				}
 			}

 		}
 	}

 	ion-list {
 		background: var(--transparent) !important;
 		padding: 0;
 		width: calc(100% - 0px);
 		margin: 0 auto;
 		padding: 0;

 		ion-item {
 			padding: 22px 24px;
 			border-radius: 4px;
 			background: var(--white);
 			--inner-padding-end: 0px;
 			--inner-min-height: unset !important;
 			--padding-start: 0;
 			--highligh-color-focused: var(--transparent) !important;
 			--background: var(--transparent);
 			--min-height: unset;

 			ion-icon {
 				color: var(--primary);
 				font-size: 1.3rem;
 				min-width: 40px;
 			}

 			h2 {
 				margin: 0;
 				color: var(--text-black);
 				font-weight: 500;
 				font-size: 1.21rem;
 			}


 		}

 		ion-menu-toggle {
 			&:nth-child(1) {
 				ion-item {
 					background: var(--bg-color);
 					margin-bottom: 14px;
 					padding: 22px 24px;

 					h2 {
 						color: var(--primary);
 					}
 				}

 			}
 		}

 	}

 	.buy_this_app {
 		background: #4AC20F;
 		position: relative;
 		border-radius: 50px;
 		height: 56px;
 		display: flex;
 		align-items: center;
 		min-width: 165px;
 		z-index: 99999;
 		width: fit-content;
 		margin: 14px 20px;
 		box-shadow: 0 8px 5px 1px rgba(106, 198, 60, 0.42);
 		margin-bottom: 50px;

 		h2 {
 			color: var(--white);
 			display: flex;
 			align-items: center;
 			margin: auto;
 			width: fit-content;
 			font-size: 1.1rem;
 			font-weight: 400;
 			padding: 0;

 			ion-icon {
 				font-size: 1rem;
 				min-width: 24px;
 			}
 		}
 	}
 }