<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'select_language' | translate}}</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color"> 
	<ion-list lines="none">
		<ion-radio-group [(ngModel)]="defaultLanguageCode">
			<ion-item *ngFor="let language of languages" (click)="onLanguageClick(language)" class="item_shadow">
				<div class="item_inner d-flex">
					<h3>{{language.name}}</h3>
					<ion-radio class="end" value="{{language.code}}"></ion-radio>
				</div>
			</ion-item>
		</ion-radio-group>
	</ion-list>
	<ion-button (click)="languageConfirm()" style="width: 90%; margin: auto; margin-bottom: 30px;" size="default" shape="block" class="btn">
		{{'save' | translate}}
	</ion-button>
</ion-content>