<ion-header>
	<div class="close_button">
		<ion-icon class="zmdi zmdi-chevron-down" (click)="dismiss()"></ion-icon>
	</div>
	<div class="customer_detail d-flex">
		<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
		<div class="text_box">
			<h2>Sam Smith</h2>
			<p>{{'customer' | translate}}</p>
		</div>
		<ion-icon class="zmdi zmdi-phone ion-text-end end"></ion-icon>
	</div>
</ion-header>

<ion-content fullsereen>
	<div class="chat_container d-flex">
		<div class="chat_box d-flex received">
			<div class="chat">
				<h2>On my way ma'm <br>Will reach in 10 mins.</h2>
				<p>12:15 pm</p>
			</div>
		</div>
		<div class="chat_box d-flex send">
			<div class="chat">
				<h2>Hey there?<br>How much time?</h2>
				<p>12:15 pm</p>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<div class="form">
		<ion-list lines="none d-flex">
			<ion-item lines="none">
				<ion-input type="text" placeholder="{{'type_your_message' | translate}}"></ion-input>
			</ion-item>
			<div class="send_btn end">
				<ion-icon class="zmdi zmdi-mail-send"></ion-icon>
			</div>
		</ion-list>
	</div>
</ion-footer>