<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'map_view' | translate}}</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar> 
</ion-header> 


<ion-content class="bg_color" fullscreen="true">
	<div class="map">
		<img src="assets/images/map.png">

		<ion-icon class="zmdi zmdi-pin" style="top:20%; left: 20%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:25%; left: 90%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:15%; left: 59%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:34%; left: 46%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:32%; left: 62%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:40%; left: 30%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:41%; left: 77%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin active" style="top:49%; left: 53%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:57%; left: 78%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:60%; left: 26%;"></ion-icon>
		<ion-icon class="zmdi zmdi-pin" style="top:62%; left: 57%;"></ion-icon>
	</div>
</ion-content>

<ion-footer class="ion-no-border">
	<ion-list lines="none">
		<ion-item class="bg_color"> 
			<div class="item_inner bg_color" (click)="hospital_info()">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Apple Hospital</h2>
						<h3>General Hospital</h3>
					</div>
					<h4 class="end">{{'know_more' | translate}}</h4>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item class="bg_color">
			<div class="item_inner" (click)="hospital_info()">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Silver Leaf Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'know_more' | translate}}</h4>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item class="bg_color">
			<div class="item_inner" (click)="hospital_info()">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>City Shine Hospital</h2>
						<h3>Eye Care Hospital</h3>
					</div>
					<h4 class="end">{{'know_more' | translate}}</h4>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item class="bg_color">
			<div class="item_inner" (click)="hospital_info()">
				<div class="item_header d-flex">
					<div class="text_box" (click)="hospital_info()">
						<h2>Apple Hospital</h2>
						<h3>General Hospital</h3>
					</div>
					<h4 class="end">{{'know_more' | translate}}</h4>
				</div>
				<div class="item_footer">
					<h3 class="d-flex">
						<span class="address" (click)="hospital_info()">At Walter street, Wallington, New York.</span>
						<span class="end">
							<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
							{{'get_direction' | translate}}
						</span>
					</h3>
				</div>
			</div>
		</ion-item>

	</ion-list>
</ion-footer>