<ion-header>
	<ion-toolbar>
		<ion-title class="title_inner d-flex" style="position: relative; height: 70px; font-size: 18px;">
			<div class="title_inner d-flex">
				<ion-icon class="zmdi zmdi-close ion-text-start" (click)="dismiss()"></ion-icon>
				{{'short_filters' | translate}}

				<span class="end">{{'reset' | translate}}</span>
			</div>
		</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-card>
			<h2>{{'sort_by' | translate}}</h2>
			<ion-radio-group style="background-color: #d3d3d3 !important;"> 
				<ion-item style="background-color: #d3d3d3 !important;">
					<ion-label style="background-color: #d3d3d3 !important;">{{'consultancy_fees' | translate}}</ion-label>
					<ion-radio style="background-color: #d3d3d3 !important;" slot="end" value="consultancy_fees"></ion-radio>
				</ion-item>
				<ion-item style="background-color: #d3d3d3 !important;">
					<ion-label style="background-color: #d3d3d3 !important;">{{'ratings' | translate}}</ion-label>
					<ion-radio style="background-color: #d3d3d3 !important;" slot="end" value="ratings"></ion-radio>
				</ion-item>
				<ion-item style="background-color: #d3d3d3 !important;">
					<ion-label style="background-color: #d3d3d3 !important;">{{'distance' | translate}}</ion-label>
					<ion-radio style="background-color: #d3d3d3 !important;" slot="end" value="distance"></ion-radio>
				</ion-item>
			</ion-radio-group>
		</ion-card>

		<ion-card>
			<h2>{{'consultancy_fees' | translate}}</h2>
			<ion-radio-group style="background-color: #d3d3d3 !important;">
				<ion-item style="background-color: #d3d3d3 !important;">
					<ion-label style="background-color: #d3d3d3 !important;"> 0 $ - 10 $</ion-label>
					<ion-radio style="background-color: #d3d3d3 !important;" slot="end" value="1"></ion-radio>
				</ion-item>
				<ion-item style="background-color: #d3d3d3 !important;">
					<ion-label style="background-color: #d3d3d3 !important;">11 $ - 30 $</ion-label>
					<ion-radio style="background-color: #d3d3d3 !important;" slot="end" value="2"></ion-radio>
				</ion-item>
				<ion-item style="background-color: #d3d3d3 !important;">
					<ion-label style="background-color: #d3d3d3 !important;">31 $ - more</ion-label>
					<ion-radio style="background-color: #d3d3d3 !important;" slot="end" value="3"></ion-radio>
				</ion-item>
			</ion-radio-group>
		</ion-card>

		<ion-card>
			<h2>{{'gender' | translate}}</h2>
			<ion-row style="background-color: #d3d3d3 !important;">
				<ion-col size="6" style="background-color: #d3d3d3 !important;">
					<ion-item>
						<ion-label style="background-color: #d3d3d3 !important;">{{'male' | translate}}</ion-label>
						<ion-checkbox style="background-color: #d3d3d3 !important;" slot="start"></ion-checkbox>
					</ion-item>
				</ion-col>
				<ion-col size="6" style="background-color: #d3d3d3 !important;">
					<ion-item style="background-color: #d3d3d3 !important;">
						<ion-label style="background-color: #d3d3d3 !important;">{{'female' | translate}}</ion-label>
						<ion-checkbox style="background-color: #d3d3d3 !important;" slot="start"></ion-checkbox>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-card>
	</ion-list>
	<ion-button style="width: 90%; margin: auto; margin-bottom: 30px;" size="default" shape="block" class="btn">
		{{'apply_now' | translate}}
	</ion-button>
</ion-content>