<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'account' | translate}}</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-list lines="none">

		<ion-item class="profile" (click)="my_profile()" *ngFor="let perfil of perfilUsuarios">
			<div class="item_inner d-flex">
				<div class="img_box center_img">
					<img [src]="perfil.imagenPerfil" class="crop_img">
				</div>
				<div class="text_box">
					<h2>{{perfil.nombre}}</h2>
					<p>{{'view_profile' | translate}}</p>
				</div>
			</div>
		</ion-item>

		<ion-item class="track_order">
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONO_SEGUIMIENTO_DEL_PEDIDO.png">
				<h2>{{'track_current_order' | translate}}</h2>
			</div>
		</ion-item>

		<ion-item (click)="my_address()">
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONO_UBICACIÓN.png">
				<h2>{{'my_address' | translate}}</h2>
			</div>
		</ion-item>


		<ion-item>
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-bookmark ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONO_ARTICULOS_GUARDADOS.png">
				<h2>{{'saved_items' | translate}}</h2>
			</div>
		</ion-item>

		<ion-item (click)="change_language()">
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-globe ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONO_CAMBIO_DE_LENGUAJE.png">
				<h2>{{'change_language' | translate}}</h2>
			</div>
		</ion-item>

		<ion-item (click)="contact_us()">
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONO_CONTACTO.png">
				<h2>{{'contact_us' | translate}}</h2>
			</div>
		</ion-item>


		<ion-item (click)="terms_conditions()">
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONO_TERMINOS_Y_CONDICIONES.png">
				<h2>{{'terms_conditions' | translate}}</h2>
			</div>
		</ion-item>



		<ion-item (click)="faqs()">
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-assignment-alert ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONOS_FAQS.png">
				<h2>{{'faqs' | translate}}</h2>
			</div>
		</ion-item>


		<ion-item (click)="logout()">
			<div class="item_inner d-flex">
				<!--<ion-icon class="zmdi zmdi-open-in-new ion-text-start"></ion-icon>-->
				<img class="ion-text-start" style="display: block; width: 40px; height: 32px; padding-right: 10px;" src="assets/images/ICONO_CERRAR_SESION.png">
				<h2>{{'logout' | translate}}</h2>
			</div>
		</ion-item>
	</ion-list>

	<div *ngIf="config.showBuyPromt" (click)="buyAppAction()" class="buy_this_app">
		<h2>
			<ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>
			{{"buy_this_app" | translate}}
		</h2>
	</div>
</ion-content>