<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="title_inner d-flex">
				<h3 [ngClass]="favorite_icon ? 'end active' : 'end'" (click)="toggleSaveIcon1()">
					<ion-icon class="zmdi zmdi-bookmark-outline"></ion-icon>
					<ion-icon class="zmdi zmdi-bookmark"></ion-icon>
				</h3>
			</div>
		</ion-title>
	</ion-toolbar>

	<div class="banner bg_color" *ngFor="let doctor of doctorProfile">
		<div class="banner_img">
			<img [src]="doctor.imagenCabecera">
		</div>
		<div class="banner_details">
			<div class="doctor_details d-flex">
				<div class="img_box center_img">
					<img [src]="doctor.imagenLittle" class="crop_img">
				</div>
				<div class="text_box">
					<h2>{{doctor.nombre}}
						<span>{{doctor.especialidad}}</span>
					</h2>
					<p>
						{{doctor.titulo}}
					</p>
				</div>
			</div>
			<ion-segment [(ngModel)]="tab" lines="none">
				<ion-segment-button value="about">
					<ion-label>
						{{'about' | translate}}
					</ion-label>
				</ion-segment-button>
				<ion-segment-button value="feedback">
					<ion-label>
						{{'feedback' | translate}}
					</ion-label>
				</ion-segment-button>
			</ion-segment>
		</div>
	</div>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<div class="tab_content" [ngSwitch]="tab">
		<!--About section start> -->
		<ion-list lines="none" *ngSwitchCase="'about'">
			<ion-card class="overview bg_color" *ngFor="let overview of overviewProfile">
				<h2>{{'overview' | translate}}</h2>
				<ion-row>
					<ion-col size="6">
						<div class="overview_box d-flex">
							<ion-icon class="zmdi zmdi-case-check ion-text-start"></ion-icon>
							<h3>
								{{'experience' | translate}}
								<strong>{{overview.experiencia}}</strong>
							</h3>
						</div>
					</ion-col>

					<ion-col size="6">
						<div class="overview_box d-flex">
							<ion-icon class="zmdi zmdi-thumb-up ion-text-start"></ion-icon>
							<h3>
								{{'feedback' | translate}}
								<strong>
									{{overview.valor}} &nbsp;
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									&nbsp;
									<span>{{overview.votos}}</span>
								</strong>
							</h3>
						</div>
					</ion-col>

					<ion-col size="6">
						<div class="overview_box d-flex">
							<ion-icon class="zmdi zmdi-money ion-text-start"></ion-icon>
							<h3>
								{{'consultancy_fees' | translate}}
								<strong>{{overview.consulta}}</strong>
							</h3>
						</div>
					</ion-col>

					<ion-col size="6">
						<div class="overview_box d-flex">
							<ion-icon class="zmdi zmdi-time ion-text-start"></ion-icon>
							<h3>
								{{'availability' | translate}}
								<strong>{{overview.disponible}}</strong>
							</h3>
						</div>
					</ion-col>
				</ion-row>
			</ion-card>

			<ion-card class="address_box bg_color" *ngFor="let hospital of hospitalProfile">
				<div class="address">
					<h2>{{'hospital_info' | translate}}</h2>
					<div class="d-flex">
						<h3>{{hospital.hospital}}
							<span>{{hospital.direccion}}</span>
						</h3>
						<h4 class="end">{{'view_more' | translate}}</h4>
					</div>
				</div>

				<div class="map_box" *ngFor="let overview of overviewProfile">
					<img [src]="overview.imagenMap">
					<div class="img_container" style="top: 27%; left: 50%;">
						<div class="img_box center_img">
							<img [src]="overview.imagenProfile" class="crop_img">
						</div>
					</div>
				</div>
			</ion-card>

			<ion-card class="services bg_color">
				<h2>{{'services' | translate}}</h2>
				<ion-row>
					<ion-col size="6" *ngFor="let servicio of serviciosProfile">
						<h3 class="d-flex">
							<ion-icon class="zmdi zmdi-label-alt"></ion-icon>
							{{servicio.titulo}}
						</h3>
					</ion-col>
				</ion-row>
			</ion-card>

			<ion-card class="services bg_color">
				<h2>{{'specialization' | translate}}</h2>
				<ion-row>
					<ion-col size="12" *ngFor="let especializacion of especializacionesProfile">
						<h3 class="d-flex">
							<ion-icon class="zmdi zmdi-label-alt"></ion-icon>
							{{especializacion.titulo}}
						</h3>
					</ion-col>
				</ion-row>
			</ion-card>

			<ion-card class="available_timings bg_color">
				<h2>{{'available_timings' | translate}}</h2>
				<ion-row>
					<ion-col size="6" *ngFor="let tiempo of timeProfile">
						<h3 class="d-flex">
							<span>Mon </span>
							{{tiempo.timemon}}
						</h3>
						<h3 class="d-flex">
							<span>Tue </span>
							{{tiempo.timetue}}
						</h3>
						<h3 class="d-flex">
							<span>Wed </span>
							{{tiempo.timewed}}
						</h3>
						<h3 class="d-flex">
							<span>Thu </span>
							{{tiempo.timethu}}
						</h3>
					</ion-col>
					<ion-col size="6" *ngFor="let tiempo of timeProfile">
						<h3 class="d-flex">
							<span>Fri </span>
							{{tiempo.timefri}}
						</h3>
						<h3 class="d-flex">
							<span>Sat </span>
							{{tiempo.timesat}}
						</h3>

						<h3 class="d-flex">
							<span>Sun </span>
							{{tiempo.timesun}}
						</h3>
					</ion-col>
				</ion-row>
			</ion-card>
		</ion-list>
		<!--About section end> -->

		<!--Feedback section end> -->
		<ion-list class="feedback" lines="none" *ngSwitchCase="'feedback'">
			<ion-item class="average bg_color" style="background-color: #d3d3d3 !important;" *ngFor="let overview of overviewProfile">
				<div class="item_inner bg_color">
					<div class="reviewer_details d-flex"> 
						<div class="text_box">
							<h2 class="d-flex">
								<span class="reviewer_name" style="font-weight: 500; color: black;">{{'average' | translate}}</span>
								<span class="end">
									{{overview.valor}} 
									&nbsp;
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									{{overview.votos}}
								</span>
							</h2>
						</div>
					</div> 
				</div>
			</ion-item>

			<ion-item style="background-color: #d3d3d3 !important;" *ngFor="let profile of feedbackProfile">
				<div class="item_inner" style="background-color: #d3d3d3 !important;">
					<div class="reviewer_details d-flex">
						<div class="img_box center_img">
							<img [src]="profile.imagenProfileFeedback" class="crop_img">
						</div>
						<div class="text_box">
							<h2 class="d-flex">
								<span class="reviewer_name">{{profile.name}}</span>
								<span class="end">
									{{profile.valor}}
									&nbsp;
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
								</span>
							</h2>

							<h3 class="d-flex">
								{{'visited_for' | translate}}&nbsp;<strong>{{profile.visitado}}</strong>
								<span style="color: black;" class="end">{{profile.fecha}}</span>
							</h3>
						</div>
					</div>
					<p>
						{{profile.comentarios}}
					</p>
				</div>
			</ion-item>
		</ion-list>
		<!--Feedback section end> -->
	</div>

	<ion-button *ngIf="tab == 'about'" (click)="book_appointment_now()" style="width: 90%; margin: auto; margin-bottom: 13px;" size="default" shape="block" class="btn">
		{{'book_appointment_now' | translate}}
	</ion-button>

	<ion-button *ngIf="tab == 'feedback'" (click)="give_feedback()" style="width: 90%; margin: auto; margin-bottom: 13px;" size="default" shape="block" class="btn">
		{{'give_feedback' | translate}}
	</ion-button>
</ion-content>