<ion-header>
	<ion-toolbar>
		<ion-title style="padding: 0 !important;">
			<div class="title_inner d-flex" style="justify-content: space-between;">
				<ion-buttons slot="start"> 
					<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
				</ion-buttons>

				<div>
					<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'shop_by_category' | translate}}</ion-title>
				</div>
				<div style="position: relative; top: 7px;">
					<span class="end" style="position: relative; right: 15px;" (click)="cart()">
						<!--<ion-icon class="zmdi zmdi-map ion-text-end"></ion-icon>-->
						<ion-icon class="zmdi zmdi-shopping-cart ion-text-start"></ion-icon>
						<ion-badge style="position: relative; top: -8px; left: -5px; border-radius: 50%; background-color: var(--primary); width: 15px; height: 18px;">1</ion-badge>
					</span>
				</div>
			</div>
		</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container d-flex">
		<ion-segment [(ngModel)]="tab" lines="none" scrollable>
			<div *ngFor="let categoria of categoriamedicamentos">
				<ion-segment-button [value]="categoria.nombre" >
					<div class="img_box">
						<img [src]="categoria.imagen">
					</div>
					<ion-label>
						{{categoria.nombre}}
					</ion-label>
				</ion-segment-button>
			</div>
		</ion-segment>

		<div class="tab_content end" [ngSwitch]="tab">
			<div *ngFor="let medicamento of categoriamedicamentos">
				<ion-list lines="none" *ngSwitchCase="medicamento.nombre">
					<ion-item (click)="product_list()" *ngFor="let item of listaProducto">
						<div class="item_inner d-flex">
							<h2>{{item.categoria}}</h2>
							<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
						</div>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</div>
</ion-content>