<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="title_inner d-flex">
				{{'shop_by_category' | translate}}
				<span class="end cart_icon" (click)="cart()">
					<ion-icon class="zmdi zmdi-shopping-cart ion-text-start"></ion-icon>
					<ion-badge>1</ion-badge>
				</span>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container d-flex">
		<ion-segment [(ngModel)]="tab" lines="none" scrollable>
			<ion-segment-button value="otc">
				<div class="img_box">
					<img src="assets/images/m1.png">
				</div>
				<ion-label>
					OTC Medicines
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="Diebetes">
				<div class="img_box">
					<img src="assets/images/m2.png">
				</div>
				<ion-label>
					Diebetes
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="personal_care">
				<div class="img_box">
					<img src="assets/images/m3.png">
				</div>
				<ion-label>
					Personal Care
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="bab_mother">
				<div class="img_box">
					<img src="assets/images/m6.png">
				</div>
				<ion-label>
					Baby & Mother
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="health_aid">
				<div class="img_box">
					<img src="assets/images/m4.png">
				</div>
				<ion-label>
					Health Aid
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="wallness">
				<div class="img_box">
					<img src="assets/images/m5.png">
				</div>
				<ion-label>
					Wallness
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="1otc">
				<div class="img_box">
					<img src="assets/images/m1.png">
				</div>
				<ion-label>
					OTC Medicines
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="1Diebetes">
				<div class="img_box">
					<img src="assets/images/m2.png">
				</div>
				<ion-label>
					Diebetes
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="1personal_care">
				<div class="img_box">
					<img src="assets/images/m3.png">
				</div>
				<ion-label>
					Personal Care
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="1bab_mother">
				<div class="img_box">
					<img src="assets/images/m6.png">
				</div>
				<ion-label>
					Baby & Mother
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="1health_aid">
				<div class="img_box">
					<img src="assets/images/m4.png">
				</div>
				<ion-label>
					Health Aid
				</ion-label>
			</ion-segment-button>

			<ion-segment-button value="1wallness">
				<div class="img_box">
					<img src="assets/images/m5.png">
				</div>
				<ion-label>
					Wallness
				</ion-label>
			</ion-segment-button>
		</ion-segment>


		<div class="tab_content end" [ngSwitch]="tab">
			<ion-list lines="none" *ngSwitchCase="'otc'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>

			<ion-list lines="none" *ngSwitchCase="'Diebetes'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>


			<ion-list lines="none" *ngSwitchCase="'personal_care'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>



			<ion-list lines="none" *ngSwitchCase="'bab_mother'">

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>



			<ion-list lines="none" *ngSwitchCase="'health_aid'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


			</ion-list>	
			
			
			<ion-list lines="none" *ngSwitchCase="'wallness'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>
			
			
			
			
			<ion-list lines="none" *ngSwitchCase="'1otc'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>

			<ion-list lines="none" *ngSwitchCase="'1Diebetes'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>


			<ion-list lines="none" *ngSwitchCase="'1personal_care'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>



			<ion-list lines="none" *ngSwitchCase="'1bab_mother'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>



			<ion-list lines="none" *ngSwitchCase="'1health_aid'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


			</ion-list>	
			
			
			<ion-list lines="none" *ngSwitchCase="'1wallness'">
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>First Aid</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Health Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>

				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Mens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Womens Care</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>


				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Sexul Wallness</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
				<ion-item (click)="product_list()">
					<div class="item_inner d-flex">
						<h2>Other</h2>
						<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
					</div>
				</ion-item>
			</ion-list>
		</div>

	</div>
</ion-content>