<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="title_inner d-flex">
				{{'shop_by_category' | translate}} 
				<span class="end cart_icon" (click)="cart()">
					<ion-icon class="zmdi zmdi-shopping-cart ion-text-start"></ion-icon>
					<ion-badge>1</ion-badge>
				</span>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container d-flex">
		<ion-segment [(ngModel)]="tab" lines="none" scrollable>
			<div *ngFor="let categoria of categoriamedicamentos">
				<ion-segment-button [value]="categoria.nombre" >
					<div class="img_box">
						<img [src]="categoria.imagen">
					</div>
					<ion-label>
						{{categoria.nombre}}
					</ion-label>
				</ion-segment-button>
			</div>
		</ion-segment>

		<div class="tab_content end" [ngSwitch]="tab">
			<div *ngFor="let medicamento of categoriamedicamentos">
				<ion-list lines="none" *ngSwitchCase="medicamento.nombre">
					<ion-item (click)="product_list()" *ngFor="let item of listaProducto">
						<div class="item_inner d-flex">
							<h2>{{item.categoria}}</h2>
							<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
						</div>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</div>
</ion-content>