<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button style="position: absolute !important;"></ion-menu-button>
		</ion-buttons>
		<ion-title style="position: relative; height: 70px; font-size: 18px;">
			<div class="d-flex">
				<span>{{'you_are_offline' | translate}}</span>

				<div class="online_button online end" (click)="offline()">
					{{'go_online' | translate}}
				</div>
				<!--<div class="online_button offline end">
					{{'go_offline' | translate}} 
				</div>-->
			</div>
		</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar> 
</ion-header>

<ion-content fullscreen class="bg_color">
	<div class="map center_img">
		<img src="assets/images/map.png" class="crop_img">
		
		<div class="delivery_location" style="top: 31%; right: 49%; transform: rotate(-17deg);">
			<img src="assets/images/deliveryman.png">
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<div class="all_delivery">
		<ion-row class="ion-text-center" *ngFor="let item of delivery">
			<ion-col size="4">
				<h2>{{item.ordenes}}</h2>
				<h3>{{'orders' | translate}}</h3>
			</ion-col>
			<ion-col size="4">
				<h2>{{item.km}} km</h2>
				<h3>{{'ride' | translate}}</h3>
			</ion-col>
			<ion-col size="4">
				<h2>${{item.costo}}</h2>
				<h3>{{'earnings' | translate}}</h3>
			</ion-col>
		</ion-row>
	</div>
</ion-footer>
