<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'support' | translate}}</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar>
</ion-header> 

<ion-content class="bg_color">  
	<div class="form">
		<h1>{{'your_words' | translate}}<br>{{'means_a_lot' | translate}}<br>{{'to_us' | translate}} !</h1>
		<h2>{{'let_us_know_queries_feedback' | translate}}</h2>
		<ion-list lines="none" *ngFor="let user of soporteUser"> 
			<ion-item lines="none">
				<ion-label position="fixed">{{'full_name' | translate}}</ion-label>
				<ion-input class="ion-text-end" type="name" [value]="user.nombre"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-label position="fixed">{{'email_address' | translate}}</ion-label>
				<ion-input class="ion-text-end" type="name" [value]="user.correo"></ion-input>
			</ion-item>	
			
			<ion-item lines="none"> 
				<ion-textarea  type="name" rows="5" placeholder="{{'enter_your_message' | translate}}"></ion-textarea>
			</ion-item>
			<ion-button size="large" shape="block" class="btn" >{{'submit' | translate}}</ion-button>
		</ion-list>
	</div>
</ion-content>