<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title *ngFor="let item of posicion">
			{{item.fecha}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_color">
	<div class="order_info">
		<div class="item_container">
			<div class="item" *ngFor="let item of pedido">
				<h2>{{item.nombre}}</h2>
				<p class="d-flex">
					<span class="item_about">Pack of {{item.pack}}</span>
					<span class="end">$ {{item.precio}}</span>
				</p>
			</div>
		</div>
		<div class="payment_detail">
			<h2 class="d-flex">
				{{'cash_on_delivery' | translate}}
				<span class="end ion-text-end" *ngFor="let item of total">$ {{item.total}}</span>
			</h2>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border" *ngFor="let item of posicion">
	<ion-card>
		<div class="card_header">
			<ion-row>
				<ion-col size="7">
					<div class="text_box">
						<h2>{{'distance' | translate}}</h2>
						<h3>{{item.distancia}} km <span>({{item.tiempo}} min)</span></h3>
					</div>
				</ion-col>

				<ion-col size="5">
					<div class="text_box">
						<h2>{{'earnings' | translate}}</h2>
						<h3>$ {{item.costo}}</h3>
					</div>
				</ion-col>
			</ion-row>
		</div>

		<div class="delivery_details">
			<div class="delivery_address d-flex">
				<ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
				<div class="text_box">
					<h2>{{item.nombreInicio}}</h2>
					<p>{{item.direccionInicio}}</p>
				</div>
			</div>

			<div class="dotted">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="delivery_address d-flex">
				<ion-icon class="zmdi zmdi-navigation ion-text-start"></ion-icon>
				<div class="text_box">
					<h2>{{item.nombreLlegada}}</h2>
					<p>{{item.direccionLlegada}}</p>
				</div>
			</div>
		</div>
	</ion-card>
	<ion-button size="large" shape="full" class="btn" (click)="home()">{{'mark_as_picked' | translate}}</ion-button>
</ion-footer>