ion-header ion-toolbar ion-title {
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 0 15px !important;
}

ion-header {
	.search_box {
		background: var(--bg-color);
		width: calc(100% - 0px);
		border-radius: 3px;
		margin: 0 auto; 
		padding: 0 15px;
		position: relative;
		overflow: hidden;
		min-height: 45px;
		z-index: 99;

		ion-icon {
			color: var(--primary);
			font-size: 1.4rem;
			min-width: 35px;
			height: 35px;
			line-height: 35px;
			z-index: 99;
			opacity: .5;
		}

		ion-searchbar {
			--background: var(--bg-color) !important;
			--color: var(--text-light2);
			--placeholder-opacity: 1;
			--placeholder-font-weight: 400 !important;
			--box-shadow: none !important;
			padding: 15px 0 !important;
		}
	}
}

ion-list {
	background: var(--bg-color);
	padding: 0;
	border-top: 5px solid var(--bg-color);
	padding-top: 20px;

	h2 {
		color: var(--text-light2);
		margin: 0;
		font-size: 1rem;
		padding: 0 20px;
		padding-bottom: 15px;
	}

	ion-item {
		background: var(--bg-color);
		padding: 7px 20px;
		margin-bottom: 14px;
		min-height: unset !important;
		box-shadow: none !important;
		--background: var(--transparent);
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--min-height: unset !important;
		--padding-start: 0;

		ion-checkbox {
			margin: 0;
			margin-right: 14px;
			--background-checked: var(--primary);
			--border-color-checked: var(--primary);
			--size: 17px;
		}

		h3 {
			margin: 0;
			color: var(--text-black);
			font-size: 1.1rem;
			font-weight: 400;
			letter-spacing: .5px;
		}
	}
}