ion-header ion-toolbar ion-title {
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 0 15px !important;
}

.form {
	background-color: var(--bg-color);
	padding-top: 50px;

	h1 {
		margin: 0;
		font-weight: 600;
		font-size: 1.85rem;
		line-height: 31px;
		margin-bottom: 26px;
	}

	h2 {
		color: var(--text-light) !important;
		margin: 0;
		font-size: 1rem !important;
		letter-spacing: 0;
		font-weight: 500;
		line-height: 19px;
		margin-bottom: 50px; 
	}
}