<ion-header>
	<ion-toolbar>
		<ion-title style="padding: 0 !important;">
			<div class="title_inner d-flex" style="justify-content: space-between;">
				<ion-buttons slot="start"> 
					<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
				</ion-buttons>

				<div>
					<ion-title style="position: relative; height: 70px; font-size: 18px;">{{'Item Info' | translate}}</ion-title>
				</div>
				<div style="display: flex; position: relative; top: 7px;">
					<h3 [ngClass]="favorite_icon ? 'end active' : 'end'" (click)="toggleSaveIcon1()">
						<ion-icon class="zmdi zmdi-bookmark-outline"></ion-icon>
						<ion-icon class="zmdi zmdi-bookmark"></ion-icon>
					</h3>
					<span class="end" style="position: relative; right: 15px;" (click)="cart()">
						<!--<ion-icon class="zmdi zmdi-map ion-text-end"></ion-icon>-->
						<ion-icon class="zmdi zmdi-shopping-cart ion-text-start"></ion-icon>
						<ion-badge style="position: relative; top: -8px; left: -5px; border-radius: 50%; background-color: var(--primary); width: 15px; height: 18px;">1</ion-badge>
					</span>
				</div>
			</div>
		</ion-title>
		<img style=" width: 100%; display: flex; height: 70px; margin: auto;" src="assets/images/FONDO_PESTAÑAS.png">
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="banner" *ngFor="let producto of perfilProducto">
		<div class="banner_img">
			<img [src]="producto.imagenProducto">
		</div>
		<div class="banner_details">
			<h2 class="item_title">{{producto.nombre}} {{producto.tipo}}</h2>
			<h3 class="d-flex">
				<span class="category">{{producto.categoria}}</span>

				<span class="end">
					<ion-icon class="zmdi zmdi-star active"></ion-icon>
					<ion-icon class="zmdi zmdi-star active"></ion-icon>
					<ion-icon class="zmdi zmdi-star active"></ion-icon>
					<ion-icon class="zmdi zmdi-star active"></ion-icon>
					<ion-icon class="zmdi zmdi-star"></ion-icon>
					&nbsp;
					{{producto.voto}}
				</span>
			</h3>
		</div>

		<ion-segment [(ngModel)]="tab" lines="none">
			<ion-segment-button value="about">
				<ion-label>
					{{'about' | translate}}
				</ion-label>
			</ion-segment-button>
			<ion-segment-button value="reviews">
				<ion-label>
					{{'reviews' | translate}}
				</ion-label>
			</ion-segment-button>
		</ion-segment>
	</div>

	<div class="tab_content" [ngSwitch]="tab">
		<!--About section start> -->
		<div *ngSwitchCase="'about'">
			<div class="description" *ngFor="let producto of perfilProducto">
				<div class="text_box">
					<p>
						{{producto.descripcion}}
					</p>
				</div>
			</div>
			<div class="smilar_products">
				<h2> {{'smilar_products' | translate}}</h2>
				<div class="item_row">
					<ion-row>
						<ion-col size="6" *ngFor="let item of producto">
							<div class="item ion-text-center">
								<div class="item_content">
									<div class="img_box">
										<img [src]="item.imagenProducto">
									</div>
									<h2>{{item.nombre}}<br> {{item.tipo}}</h2>
								</div>
								<div class="item_footer d-flex">
									<h3 class="ion-text-center">{{item.precio}}</h3>
									<h4 class="ion-text-center end"><span> {{'add_to_cart' | translate}}</span></h4>
								</div>
							</div>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</div>
		<!--About section end> -->



		<!--Reviews section Start> -->
		<ion-list lines="none" *ngSwitchCase="'reviews'">
			<ion-item *ngFor="let review of reviews">
				<div class="item_inner">
					<div class="reviewer_details d-flex">
						<div class="img_box center_img">
							<img [src]="review.imagenUsuario" class="crop_img">
						</div>
						<div class="text_box">
							<h2 class="d-flex">
								<span class="reviewer_name">{{review.nombreUsuario}}</span>
								<span class="end">
									{{review.puntuacion}}
									&nbsp;
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
									<ion-icon class="zmdi zmdi-star active"></ion-icon>
								</span>
							</h2>

							<h3 class="d-flex">
								{{'for' | translate}}&nbsp;<strong>{{review.for}}</strong>
								<span class="end">{{review.fecha}}</span>
							</h3>
						</div>
					</div>
					<p>
						{{review.comentario}}
					</p>
				</div>
			</ion-item>
		</ion-list>
		<!--Reviews section end> -->
	</div>
</ion-content>

<ion-footer class="ion-no-border">
	<ion-item lines="none">
		<div class="item_inner d-flex" style="background-color: var(--bg-color) !important;">
			<h2>$6.00</h2>
			<ion-select [(ngModel)]="gaming" class="end" interface="popover" mode="ios" style="background-color: var(--bg-color) !important;">
				<ion-select-option value="1">500gm Pack</ion-select-option>
				<ion-select-option value="2">200gm Pack</ion-select-option>
				<ion-select-option value="3">100gm Pack</ion-select-option>
			</ion-select>
		</div>
	</ion-item>
	<ion-button (click)="cart()" style="width: 90%; margin: auto; margin-bottom: 13px;" size="default" shape="block" class="btn">
		{{'add_to_cart' | translate}}
	</ion-button> 
</ion-footer>